<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
</head>
<bo<body>
  <header>
      <nav>
          <ul>
              <li>
                  <a href="/">Shop</a>
                  <a href="/admin/add-product">Add Product</a>
              </li>
          </ul>
      </nav>
  </header>

  <main>
      <h1>My Products</h1>
      <p>list of all Products</p>
      <% if(products.length > 0) { %>
        <% for(product of products) { %>
          <h3><%= product.title %></h3>
          <% } %>
      <% } else { %>
        <h3>No Products Found!</h3>
        <% } %>
  </main>
</body>
</html>